.body-item-parent {
    text-align: left;
    
}

.top100 {
    background: rgb(150,50,255);
    min-height: 100vh
}

.filters {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem
}

.body-item {
    padding: 0.25rem
}


@media only screen and (max-width: 600px) {
    .filters {
        flex-direction: column;
        margin: 0px 1rem
    }
  }